DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sponsorscope?schema=public"
NEXT_PUBLIC_DEMO_MODE="false"
DEMO_MODE="false"
TWITCH_CLIENT_ID=""
TWITCH_CLIENT_SECRET=""
GOOGLE_SERVICE_ACCOUNT_EMAIL=""
GOOGLE_PRIVATE_KEY=""
GOOGLE_SHEETS_SPREADSHEET_ID=""
